.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}
.box2{
    /* width: 200px;
    height: 200px; */
    margin: 30px; 
    /* margin: 10px 40px; */
    margin: 10px 30px 20px 40px;
    margin: auto;/*Center horizontally*/
}
body{
    background-color: rgb(78, 153, 59);
}
.border{
    border: 2px solid black;
    border-right: 3px dotted;
    border-left: 2px double;
    border-bottom: 2px transparent;
    border-radius: 20px;
}
